.html,
.body {
	height: 100%;
}

body {
	background-attachment: fixed;
	background-color: #000;
	background-image: url('homepage_platzhalter_sm.jpg');
	background-position: center;
	background-repeat: none;
}
